<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="/urls">TinyApp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (user) { %> <!-- Check if user exists -->
        <li class="nav-item">
          <span class="navbar-text">Logged in as <%= user.email %></span> <!-- Display the user's email -->
        </li>
        <li class="nav-item">
          <form method="POST" action="/logout" class="nav-link">
            <button type="submit" class="btn btn-link">Logout</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls">URLs</a> <!-- Add the redirect button to /urls -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls/new">Create New URL</a> <!-- Add the create new URL button to /urls/new -->
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a> <!-- Display the login link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a> <!-- Display the register link -->
        </li>
      <% } %>
    </ul>
  </div>
</nav>
